body{
    background-color: black;
}

#app{
    display:flex;
    justify-content: center;
    color:rgb(224, 224, 224);
    letter-spacing: 2px;
    margin-top: 33vh;
}

#app p{
    font-size: 7vw;
}

#app i{
    font-size: 6vw;
    display: flex;
    align-items: center;
}