body{
    background-color: black;
}

#app{
    display:flex;
    flex-direction: column;
    color:rgb(224, 224, 224);
    letter-spacing: 2px;
    margin-top: 33vh;
}

.count-container{
    display:flex;
    justify-content: center;
}

#app p{
    font-size: 7vw;
}

#app i{
    font-size: 6vw;
    display: flex;
    align-items: center;
}

#app button{
    width: 10%;
    font-size: 1vw;
    align-self:center;
}